/* Set font family globally - from design document everything is Helvetica */

* {
  background-color: black;
  text-align: center;
}

h1,
h2,
h3,
p {
  font-family: Verdana;
}

/* Set specifics for the h1  */

h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}

/* Set specifics for the h2 used across different divs  */


a {
  font-size: 16px;
  color: aquamarine;
}

#copyright{
  color: gray;
  text-align: right;
}
